// Bordes
$border: solid 1px blue;

// Margen
$margin: 50px;


// Colores
$color: orange;

// Ancho
$width: 500px;

// centrado

$center: center;

// facebook

$facebook: #3b5999;

// instagram

$instagram: #e4405f;

// twitter

$twitter: #55acee;


